.resume{
    background-color: rgba(250, 235, 215, 0.804);
    padding: 50px;
}

.resume .name-part{
    padding-bottom: 90px;
}

.resume .name-part h1{
    color: rgb(40, 183, 240);
    padding-bottom: 7px;
    font-family: "Poppins", sans-serif;
}

/* ============== */
.resume .part-1 h3{
   padding: 7px 0px;
   color: rgb(17, 103, 224);
   font-family: "Poppins", sans-serif;
    
}

.resume .part-1 p{
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    padding-top: 7px;
    font-family: "Poppins", sans-serif;
    
}



.resume .part-1 span{
    font-size: 14px;
    font-family: "Poppins", sans-serif;

    
}







/* =============== */



.resume .right-part .img-part{
    width: 150px;
    height: 150px;
    background-image: url(/img/WhatsApp\ Image\ 2025-05-11\ at\ 18.30.52_120f3149.jpg);
    background-repeat: no-repeat;
    background-size: cover;background-position: center;
    border-radius: 50%;
    border: 4px solid rgb(217, 0, 255);
    box-shadow: 0px 0px 30px rgb(40, 183, 240);
    margin-bottom: 30px;
}

.resume .right-part .work{
    padding-top: 30px;
}

.resume .right-part .work ul{
    padding-top: 10px;
}


.resume .right-part .work a{
    text-decoration: none;
}



